#browser-bottombox { height: 20px; border-top: solid 1px #505050; }
#statuspanel { width: 100% !important; left: 0px !important; bottom: 0px !important; padding: 0px !important; transition-duration: 0s !important; transition-delay: 0s !important; transition-property: none !important; }
#statuspanel-label { top: 0px !important; margin-left: 0px !important; margin-top: 0px !important; border: none !important; padding: 0px !important; }

window[inFullscreen="true"] #browser-bottombox { display:none !important; }
window[inFullscreen="true"] #statuspanel { display:none !important; }
